<!DOCTYPE html>
<html lang="en" ng-app="library">
<head>

  <% include ./header %>

</head>

<%# <div ng-controller="control as library">%>
  <h1>testing authors here</h1>
  <a href="/" type="button" class="btn btn-primary">Home</a>

  <!-- display authors -->
  <div class="container">
      <div class="jumbotron" ng-repeat="author in authors | orderBy:'fullName'">
          <div class="media">
              <div class="media-heading">
                  <h1><div class="fullName "><span>{{author.fullName}} </span></div></h1>

                  <button class="pull-right btn btn-danger"> Delete</button>
                  <button class="pull-right btn btn-info"> Edit</button>

                  <div><img class="img-responsive media-object media-left" ng-src="{{author.img}}" alt=""></div>

                  <div class="media-body">
                      <div>
                          <div><span><strong>Born:</strong> {{author.dob}} </span></div>
                          <br>
                          <span><strong>Books: </strong> {{author.books}} </span>
                          <br>
                          <div><span><strong>Country:</strong> {{author.country}} </span></div>
                          <br>
                          <span>{{author.biography}}</span>


                      </div>

                  </div>
              </div>
          </div>
      </div>
    </div>
  <%# </div>%>
  </body>
</html>
