<!DOCTYPE html>
<html lang="en" ng-app="library">
<head>

  <% include ./header %>

</head>
            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <img class="card-img-top" src="http://milestoneseducation.com/wp-content/uploads/2016/06/Books-bookshelf-person-head-540w.jpg" alt="Card image cap">
                            <div class="card-block">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary" ng-model="showAuthor" ng-click="showPerson()">Authors</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <img class="card-img-top" src="http://az616578.vo.msecnd.net/files/2016/05/16/635990089599038074-2122984680_books.jpg" alt="Card image cap">
                            <div class="card-block">
                                <p class="card-text">Looking for your favorite Book? Welcome to a whole new world!</p>
                                <a href="#" class="btn btn-primary" ng-model="showMe" ng-click="hide()">Books</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- button add new book -->
                <a href="/books" class="pull-right btn btn-success" ng-if="showMe" ng-click="hideMe()" role="button">New Book</a>
            </div>



            <!-- display authors -->
            <div class="container" ng-if="showAuthor" ng-show="showAuthor">
                <div class="jumbotron" ng-repeat="author in authors | orderBy:'fullName'">
                    <div class="media">
                        <div class="media-heading">
                            <h1><div class="fullName "><span>{{author.fullName}} </span></div></h1>

                            <button class="pull-right btn btn-danger"> Delete</button>
                            <button class="pull-right btn btn-info"> Edit</button>

                            <div><img class="img-responsive media-object media-left" ng-src="{{author.img}}" alt=""></div>

                            <div class="media-body">
                                <div>
                                    <div><span><strong>Born:</strong> {{author.dob}} </span></div>
                                    <br>
                                    <span><strong>Books: </strong> {{author.books}} </span>
                                    <br>
                                    <div><span><strong>Country:</strong> {{author.country}} </span></div>
                                    <br>
                                    <span>{{author.biography}}</span>


                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>


        </div>

    </body>

</html>
