/*========================================*/
/*header*/
/*========================================*/


.brand-img{
  height: 40px;
  width: auto;
}

/*========================================*/
/*home page*/
/*========================================*/

.card-img-top, .img-responsive{
  height: 250px;
  width: auto;
}

.btn{
  padding: 8px;
  margin: 8px;
}

/*========================================*/
/*form*/
/*========================================*/
.my-form{
  padding: 20px;
  margin: 20px;
}
